.main {
    width: 75%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.5rem;
}

h1,p {
    text-align: center;
}

.main2 {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid black;
    padding: 20px;
    justify-content: space-evenly;
   
}

.image {
    height: 150px;
    border: 2px solid black;
    margin-top: 15px;
    padding: 25px;
}

.circle {
    height:80px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    padding-top: 40px;
    margin: 10px;
}

.form {
    text-align: end;
    line-height: 50px;
}

.b {
    margin-right: 140px !important;
    border:2px solid;
}

.g {
    margin: 15px;
    display: inline-block;
    font-size: 20px;
    padding: 0 35px;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.border {
    width: 250px;
    border:2px solid;
}